body {
    background-color: #413D3D;
}

#grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(253, 149, 149);
    padding: 20px 50px;
    border: 2px solid #f50404;
}

#quiz h1 {
    font-size: 60px;
    text-align: center;
    background-color: rgb(2, 145, 36);
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
}

#score {
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
}

#question {
    font-size: 30px;
    color: #022ebf;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #72fe95fb;
    width: 250px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    border: 1px solid #1D3C6A;
    border-radius: 5px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(0, 110, 6);
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#quiz hr:first-of-type {
    margin-bottom: 20px;
}

#quiz hr:nth-of-type(2) {
    margin-top: 50px;
}
